.menu {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 5px 1px 5px #888888;

    padding: 1vw 0.4vw 1vw 0.6vw;
    margin: 0;
}

.menu .icon{
    display: none;
}

li {
    float: left;
    line-height: 20px;
}

a{
    font-size: 1.2vw !important;
    text-decoration: none;
    margin-right: 0.6vw;
    color: #2c6c80;
}
a:hover{
    color: darkblue;
}

.fltRight{
    float: right;
}