html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    margin-bottom: 1em;
    padding-bottom: 1em;
}

section {
    line-height: 1.7em;
    font-size: 1.6em;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../app_pictures/front_image.jpg");
    height: 100%;
    width: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-80%, -20%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.fit100{
    width: 100%;
}
.fit70{
    width: 70%;
}
.fit60{
     width: 60%;
 }
.fit40{
    width: 40%;
}
.fit30{
    width: 30%;
}

.fit50{
    width: 50%;
}

.bigText{
    font-size: 3vw;
}