<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pagina principala</title>

    <meta charset="utf-8">
    <meta name="author" content="Ionel"/>

    <style>
        .menu {
            list-style-type: none;
            overflow: hidden;
        }
        #header-wrap {
            position: fixed;
            width: 100%;
            height: 2vh;
            top: 0;
            z-index: 1;
        }

        .menu .icon{
            display: none;
        }
        .fltRight{
            float: right;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .barLooks{
            background-color: #ffffff;
            box-shadow: 5px 2px 5px #888888;
            padding: 0.7vw 0.4vw 0.7vw 0.6vw;
            margin: 0 0 2vw 0;
        }
        html, body{
            height: 100%;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
        }

        main{
            margin-bottom: 1em;
            padding-bottom: 1em;
        }

        section {
            line-height: 1.7em;
            font-size: 1.6em;
        }

        .fit100{
            width: 100%;
        }
        .fit90{
            width: 90%;
        }
        .fit80{
            width: 80%;
        }
        .fit20{
            width: 20%;
        }
        .fit10{
            width: 10%;
        }
        .big-name{
            font-size: 2vw !important;
            line-height: 3vh;
        }
        li {
            float: left;
            line-height: 3.4vh;
        }

        a{
            font-size: 1.1vw !important;
            text-decoration: none;
            margin-right: 1.3vw;
            color: #44b4d2;
        }
        a:hover{
            color: #1441b0;
        }
        .text-banner{
            text-align: center;
            font-size: 2.5vw;
            color: black;
            font-weight: 500;
            padding-top: 5vh;
            margin: 10vh 0 10vh 0;
        }
        p{
            color: red;
            font-size: 1.5vw;
        }
        h2{
            color: #964e45;
            font-size: 1.5vh;
        }
        .google-button{
            background-color: #ffffff;
            color: black;
            transition: 0.3s ease-in;
            font-size: 0.8vw;
            border: 1px solid black;
            border-radius: 2px;
            padding: 0.4vw;
            width: 100%;
            margin-bottom: 2vh;
        }
        .google-button:hover{
            background-color: #54b6d3;
        }
        html{
            font-size: 62.5%;
        }

        body{
            font-size: 0.75rem;
        }

        a, main,
        html, body, div, span, object, iframe,
        h1, h2, h3, h4, h5, h6, blockquote, pre,
        abbr, address, cite, code,
        del, dfn, em, img, ins, kbd, q, samp,
        small, strong, sub, sup, var,
        b, i,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section, summary,
        time, mark, audio, video {
            font-size: 0.8vw;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        p{
            font-size: 0.8vw;
        }

        figcaption{
            font-size: 1vw;
        }

        caption{
            font-size: 0.8vw;
        }

        th, tr, thead, tfoot, table{
            font-size: 0.8vw;
        }

        small{
            font-size: 0.8vw;
        }

        h1{
            font-family: 'Poppins', SansSerif, serif;
        }

        h2, h3, h4, h5, h6{
            font-family: 'Lora', SansSerif, serif;
        }

        p{
            font-family: 'Roboto Slab', SansSerif, serif;
        }

        div {
            font-family: 'Roboto Slab', SansSerif, serif;
        }

        button {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        li{
            font-family: 'Roboto Slab', SansSerif, serif;
        }

        nav {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        html, body{
            height: 100%;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
        }

        main{
            margin-bottom: 1em;
            padding-bottom: 1em;
        }

        section {
            line-height: 1.7em;
            font-size: 1.6em;
        }

        .fit80{
            width: 80%;
        }
        .fit20{
            width: 20%;
        }
        .fit10{
            width: 10%;
        }

        .fltLeftStyle{
            float: left;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        label{
            font-size: 1vw;
            color: black;
        }
        label:after{
            margin: 0 0 1.2vh 0 !important;
        }

        #header-wrap {
            position: fixed;
            width: 100%;
            height: 2vh;
            top: 0;
            z-index: 1;
        }

    </style>
</head>
<body>


<header>
    <div id="header-wrap">
        <div class="row barLooks">
            <div class="fit10 fltLeft"><p/></div>
            <div class="fit80 fltLeft">
                <nav>
                    <ul class="menu" id="">
                        <li>  <a href="http://localhost:8080/" class="big-name"> SeeYou </a> </li>

                    </ul>
                </nav>
            </div>
            <div class="fit10 fltLeft">
                <p></p>
            </div>
        </div>
    </div>
</header>

<main class="row">
    <h1 class="text-banner">
        You were logged out.
    </h1>
</main>


<div class="row">
    <div class="fit20 fltLeftStyle"><p/></div>
    <div class="fit20 fltLeftStyle"><p/></div>
    <div class="fit20 fltLeftStyle">
        <script>
            function redirect(){
                window.location.href='http://localhost:5000/login';
            }
        </script>
        <button onclick="redirect()" class="google-button">
            Go to login page
        </button>
    </div>
</div>

</body>
</html>