<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../fragments/headLinks") %>

    <title> WhatsOn </title>

    <meta name="keywords" content=" dumneavoastră">
    <meta name="description" content="Prima pagina">
</head>
<body>
    <header>
        <%- include ("../fragments/header") %>
    </header>

    <script src="/javascript/index.js"></script>

    <div class="fit100">
        <div class="fit60">
            <div class="hero-image">
                <div class="hero-text">
                    <h1 class="bigText">WhatsOn</h1>
                    <p>So you can chat easier with your friends</p>
                    <button> Register today </button>
                </div>
            </div>
        </div>
        <div class="fit40">

        </div>

    </div>


</body>
</html>