<nav>
    <ul class="menu" id="">
        <li> <a href="/"> WhatsOn </a> </li>
        <li class="icon" href="javascript:void(0)" onclick="">
            <i class="fa fa-bars"></i>
        </li>
        <li class="fltRight"> <a href="/login"> Login </a> </li>
        <li class="fltRight"> <a href="/register"> Register </a> </li>
    </ul>
</nav>