

<div id="header-wrap">
    <div class="row barLooks">
        <div class="fit10 fltLeft"><p/></div>
        <div class="fit80 fltLeft">
            <nav>
                <ul class="menu" id="">
                    <li>  <a href="#first_section" class="big-name"> SeeYou </a> </li>

                    <li class="fltRight"> <a href="#about_section"> My account </a> </li>
                </ul>
            </nav>
        </div>
        <div class="fit10 fltLeft">
            <p/>
        </div>
    </div>
</div>